body {
  height: 100vh;
  /* 
  display: flex;
  align-items: center;
  justify-content: center; */
}

@keyframes modal-animation {
  from {
    transform: translateY(50px);
  }

  to {
    transform: translateY(0);
  }
}

.animate-modal {
  animation: modal-animation 0.4s ease-in-out;
}
